dailynote() {
    local title=${1:-'notes'}
    touch "$(date --iso-8601)-${title}.md"
}

alias ls='ls --color=auto --group-directories-first'
alias ll='ls -l --human-readable --almost-all'
alias py='/usr/bin/env python'
alias clipit='xclip -selection clipboard'

[[ ! -z $( grep 'Arch Linux' /etc/issue ) ]] && source "$HOME/.arch_aliases"

hash exa &> /dev/null &&
    alias lx='exa --group-directories-first --long --group --git'

# vim: set syntax=sh:
