alias ls='ls --color=auto --group-directories-first'
alias ll='ls -l --human-readable --almost-all'
alias py='/usr/bin/env python'

[[ ! -z $( grep 'Arch Linux' /etc/issue ) ]] && source "$HOME/.arch_aliases"

# vim: set syntax=sh:
