# top-most config
root = true

[*]
charset = utf-8

[Makefile]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.{htm,html,js}]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.{md,markdown,txt,tex}]
trim_trailing_whitespace = false
indent_style = tab
