[alias]
    a       = add
    aa      = add --all
    c       = commit
    cr      = clone --recursive
    co      = checkout
    lgf     = log --stat --graph --abbrev-commit --decorate=full --pretty=medium
    lg      = log --stat --graph --abbrev-commit --decorate --pretty=oneline
    l       = log --abbrev-commit --decorate --pretty=oneline
    s       = status
    f       = fetch
    p       = push
    d       = diff
    tags    = tag -l
# removes branches merged on remote (thx to http://blogs.atlassian.com/2014/10/advanced-git-aliases/)
    local-prune = !sh -c 'git branch --merged ${1:-master} | grep -v ${1:-master} | xargs -r git branch -d'

[core]
    editor          = vim
    pager           = less
    excludesfile    = ~/.gitignore_global

[color]
    diff    = auto
    status  = auto
    branch  = auto
    ui      = auto

[diff]
    tool = meld
    algorithm = minimal

[merge]
    tool = meld

[user]
	name = Andreas Linz
	email = klingt.net@gmail.com

[push]
    default = simple

[pull]
    ff = only
